<template>
    <p :class="classes">
        <span v-html="text"></span>
    </p>
</template>

<script lang="ts">

  import {Vue, Component, Prop} from 'vue-property-decorator';
  //import {Emit} from 'vue-property-decorator';
  import _ from 'lodash-es';

  @Component
  export default class AboutUsItem extends Vue {
    @Prop({type: String, required: true})
    text : string;

    @Prop({type: String, default: ''}) 
    extraCss : string;

    get classes () {
      return _.isEmpty(this.extraCss) 
      ? ['section-content-para']
      : ['section-content-para', this.extraCss];
    }
  }
</script>
