<template>
    <div id="aboutcomp" class="row dis-table">
        <div class="hidden-xs col-sm-6 section-bg about-bg dis-table-cell" style="background-image: url({{ image }});">

        </div>
        <div class="col-xs-12 col-sm-6 dis-table-cell">
            <div class="section-content">
                <h2 class="section-content-title">{{ title }}</h2>
                <about-us-item v-for="(item, index) in items" 
                  :key="index" v-bind="item"
                ></about-us-item>
            </div> <!-- /.section-content -->
        </div>
    </div> <!-- /.row -->
</template>

<script lang="ts">

  import {Vue, Component} from 'vue-property-decorator';
  //import {Emit} from 'vue-property-decorator';
  import _ from 'lodash-es';
  //import { ImageObject, AboutUsObject } from '../lib/types';
  import AboutUsItem from './AboutUsItem.vue';

  @Component(
    {
      components: {
        AboutUsItem
      }
    }
  )
  export default class AboutUs extends Vue {
    get image () {
      return this.$store.getters['AboutUs/image'].img;
    }

    get title () {
      return this.$store.getters['AboutUs/title'];
    }

    get items () {
      return this.$store.getters['AboutUs/items'];
    }
  }
</script>
