<template>
    <section id="pricing" class="pricing">
        <div id="w">
            <div class="pricing-filter">
                <div class="pricing-filter-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="section-header">
                                    <h2 class="pricing-title">{{ title }}</h2>
                                    <ul v-if="!empty(sortings)" id="filter-list" class="clearfix">
                                        <li class="filter" data-filter="all" @click="selectedFilter = 'all'">All</li>
                                        <li v-for="(item, index) in sortings" :key="index"
                                            @click="selectedFilter = toFilter(item)" 
                                            class="filter" :data-filter="'.' + toFilter(item)">
                                            {{ toTitle(item) }}
                                        </li>
                                    </ul><!-- @end #filter-list -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">  
                    <div v-if="!useMixItUp" class="col-md-10 col-md-offset-1">
                        <ul v-if="!empty(filteredItems)" id="menu-pricing" class="menu-price">
                            <boot-gallery-item v-for="(item, index) in filteredItems" 
                            :key="index" v-bind="item"
                            >
                            </boot-gallery-item>
                        </ul>
                        <ul v-else>
                            <li></li>
                        </ul>

                    </div>   
                    <div v-else class="col-md-10 col-md-offset-1">
                        <ul v-if="!empty(items)" id="menu-pricing" class="menu-price">
                            <boot-gallery-item v-for="(item, index) in items" 
                            :key="index" v-bind="item"
                            >
                            </boot-gallery-item>
                        </ul>
                        <div v-else class="well bg-danger">
                            We Are So Sorry! There Are no Gallery Items!
                        </div>
                    </div>
                </div>
            </div>

        </div> 
    </section>
</template>

<script lang="ts">
  import Vue from 'vue';
  import _ from 'lodash-es';
  import {Component, Prop} from 'vue-property-decorator';
  import {GalleryObject} from '../lib/types'
  import Vuex from 'vuex';
  import {Btn} from 'uiv';
  import {title_case} from '../lib/utils';
  import BootGalleryItem from './GalleryItem.vue';
  import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

  Vue.use(Vuex)

  @Component({
      components: {
          Btn,
          BootGalleryItem
      }
  })
  export default class Gallery extends Vue {

    @Prop({default: true})
    useMixItUp : boolean;
    
    get title () : string {
        return this.$store.getters['Gallery/title'];
    }

    get sortings () : string[] {
        return this.$store.getters['Gallery/sortings'];
    }

    get items () : GalleryObject[] {
        return this.$store.getters['Gallery/items'];
    }

    get editorCtor () : any {
      return ClassicEditor;
    }

    selectedFilter : string = 'all';

    protected filterFunc (val: GalleryObject, key?: string | number, collection?: GalleryObject[]) : boolean {
        _.noop(key, collection);
        if (this.selectedFilter === 'all') {
            return true;
        } else {
            let bol = false;
            for (let i = 0; i < val.sortings.length; i++) {
                if (this.toFilter(val.sortings[i]) === this.selectedFilter) {
                    bol = true;
                    break;
                }
            }
            return bol;
        }
    }

    get filteredItems () {
        return _.filter(this.items, this.filterFunc);
    }

    empty (data: any) : boolean {
        return _.isEmpty(data);
    }

    toTitle (str: string) : string {
        return title_case(str);
    }

    toFilter (str: string) : string {
        return _.toLower(str);
    }

  }
</script>
