<template>
  <div class="container">
    <div v-if="usingAlerts" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    
          <div class="panel panel-default">
            <div class="panel-body" v-if="!empty(alerts)">
              <div v-for="(alert, index) in alerts" :key="index">
                <!--
                  
                  <span v-if="true">
                    <div v-if="!emptyAlert(alert)" ref="thisAlert"
                      :class="['alert', 'alert-dismissible', 'fade', 'in', ...extraText(alert.extraCss)]">
                        <button @click="remAlert(alert)" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>{{alert.title}}</strong> 
                        <span v-html="alert.text"></span>
                    </div>
                  </span>
                  <span v-else></span>
                -->
                
                <alert :type="get_uiv_Notification_type(alert.extraCss)"
                  :dismissible="true" :duration="alert.timeout" @dismissed="remAlert(alert)"
                >
                  <strong>{{alert.title}}</strong> 
                  <span v-html="alert.text"></span>
                </alert>

              </div>
            </div>  
          </div>

        </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>

</style>

<script lang="ts">
  // import { PropOptions, WatchOptions } from 'vue';
  // import { Reflect, Type, ParamTypes } from 'reflect-metadata';
  import {Vue, Component, Prop, Watch} from 'vue-property-decorator';
  //import {Emit} from 'vue-property-decorator';
  import _ from 'lodash-es';
  import { AlertObject } from '../lib/types';
  import {get_uiv_Notification_custom_classes, get_uiv_Notification_type} from '../lib/utils';
  //import AlertData from '../lib/AlertData';
  import {Alert, Notification} from 'uiv';



  @Component(
    {
      name: 'boot-alert-component',
      components: {Alert}
    }
  )
  export default class BootAlert extends Vue {
    @Prop( Boolean )
    useAlerts: boolean = true;

    _alerts : AlertObject[] = [];

    get alerts () {
      return this._alerts = this.$store.getters['Alerts/alerts'];
    }

    get usingAlerts () {
      return this.useAlerts;
    }

    empty (data) {
      return _.isEmpty(data);
    }

    emptyAlert (alert: AlertObject) {
      return _.isEmpty(alert.text) || _.isEmpty(alert.title) || _.isEmpty(alert.extraCss);
    }

    remAlert (alert: AlertObject) {
      this.$store.commit('Alert/remAlert', alert);
    }

    extraText (text: String) {
      let t1 = text.trim();
      let t2 = t1.split(/\s/);
      let res = [];
      for (let index = 0; index < t2.length; index++) {
        const txt = t2[index];
        if (!_.isEmpty(txt)) {
          if (txt in ['info' , 'success' , 'warning' , 'danger']) {
            res.push('alert-' + txt);
          } else {
            res.push(txt);
          }
        }
      }
      return res;
    }

    @Watch('alerts')
    onAlertsChanged(val: AlertObject[], oldVal: AlertObject[]) {
      if (!this.usingAlerts) {
        for (let index = 0; index < val.length; index++) {
          const element = val[index];
          if (!this.emptyAlert(element)) {
            Notification.notify(
              {
                title: element.title,
                content: element.text,
                html: true,
                duration: element.timeout,
                customClass: get_uiv_Notification_custom_classes(element.extraCss),
                type: get_uiv_Notification_type(element.extraCss),
              }
            );
          }
        }
      }
      if (!this.empty(oldVal)) {
        _.noop();
      }
    }

  }
</script>
