<template>
  <div id="contactInfo" class="container-fluid color-bg">
    <div class="row dis-table">
        <div class="hidden-xs col-sm-6 dis-table-cell">
            <h2 class="section-title">{{ title }}</h2>
        </div>
        <div class="col-xs-6 col-sm-6 dis-table-cell">
            <div class="section-content">
                <p>{{ userInfo.name }}</p>
                <p>{{ userInfo.phone }}</p>
                <p>{{ userInfo.email }}</p>
            </div>
        </div>
    </div>
    <div class="social-media">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" v-if="!empty(socialInfo)" >
                <ul class="center-block">

                  <li v-for="(item, index) in socialInfo" :key="index">
                    <a :href="item.url" :class="item.type"></a>
                  </li>
                    
                </ul>
            </div>
        </div>
    </div>
  </div>
</template>

<script lang="ts">
  //import {Vue} from "vue-property-decorator";
  import {Component, Prop, Mixins} from "vue-property-decorator";
  import UtilityMethods from './Utility';
  import {SocialInfo, UserInfo} from '../lib/types';

  @Component({})
  export default class ContactInfo extends Mixins(UtilityMethods) {
    @Prop({ type: String, default: 'Contact Me'})
    title : string;

    // @Prop
    // userInfo : UserInfo = {
    //   name  : 'Shlomo Kallner',
    //   phone : '+972 522976373',
    //   email : 'shlomo.kallner@gmail.com'
    // };

    get userInfo () : UserInfo {
      return this.$store.getters['ContactInfo/user'];
    }

    get socialInfo (): SocialInfo[] {
      return this.$store.getters['ContactInfo/socialInfo'];
    }

  };
</script>