<template>
  <div id="contactFormContainer" class="row">
      <form id="contactForm" class="contact-form" method="POST" @submit.prevent="validateForm" :action="pfContactRoute" novalidate="novalidate">
          <csrf></csrf>
          <div class="col-md-6 col-sm-6">
              <div :class="thisForm.styles.name">
                  <input v-model="thisForm.data.name" name="name" type="text" class="form-control" id="name" required="required" placeholder="  Name">
                  <error-list :errors="thisForm.errors.name" :type="'danger'"></error-list>
              </div>
              <div :class="thisForm.styles.email">
                  <input id="contactFormEmail" v-model="thisForm.data.email" name="email" type="email" class="form-control" required="required" placeholder="  Email">
                  <error-list :errors="thisForm.errors.email" :type="'danger'"></error-list>
              </div>
              <div :class="thisForm.styles.phone">
                  <vue-tel-input v-model="thisForm.data.phone" 
                    :inputClasses="'form-control'" :name="'phone'" 
                    :required="true" @onValidate="validatePhone"
                    :placeholder="'  Phone'" :disabledFetchingCountry="true">
                  </vue-tel-input>
                  <error-list :errors="thisForm.errors.phone" :type="'danger'"></error-list>
              </div>
          </div>

          <div class="col-md-6 col-sm-6">
              <div :class="thisForm.styles.message">
                  <textarea v-model="thisForm.data.message" name="message" type="text" class="form-control" id="message" rows="8" required="required" placeholder="  Message"></textarea>
                  <error-list :errors="thisForm.errors.message" :type="'danger'"></error-list>
              </div>
          </div>
          <form-response v-bind="thisForm.response"></form-response>
          <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
              <div class="text-center">
                  <button type="submit" id="cfsubmit" class="btn btn-send">
                      Contact Me
                  </button>
              </div>
          </div>
      </form>
  </div>
</template>

<script lang="ts">
  import {Vue, Component, Mixins, Prop, Watch} from "vue-property-decorator";
  import Vuex from 'vuex';
  import Csrf from './Csrf.vue';
  import ErrorList from './ErrorList.vue';
  import FormResponse from './FormResponse.vue';
  import UtilityMethods from './Utility';
  import {AjaxResponse, AjaxError} from './Utility';
  import * as Uiv from 'uiv';
  import {Btn} from 'uiv';
  //import {Modal, Collapse} from 'uiv';
  import VueTelInput from 'vue-tel-input';
  import _ from 'lodash-es';

  Vue.use(Vuex);
  Vue.use(Uiv, {prefix: 'uiv'});

  @Component(
    {
      name: 'ContactForm',
      components: {
        Csrf, ErrorList, Btn, //Modal, Collapse,
        VueTelInput, FormResponse
      }
    }
  )
  export default class ContactForm extends Mixins(UtilityMethods) {

    get className () : string {
      return 'ContactForm';
    }
    
    beforeMount() {
      this.setRoutes();
    }

    beforeUpdate() {
      this.setRoutes();
    }

    setRoutes () {
      this.ourRoutes = ['contact'];
      // this.contactRoute = this.contactRoute === '' 
      //   ? this.$store.getters['Urls/url']('contact') 
      //   : this.contactRoute;
    }

    @Prop({type: String, default: ''})
    contactRoute : string;

    p_contactRoute : string = '';

    get pfContactRoute () : string {
      if (this.p_contactRoute === '') {
        this.setRoutes();
        this.p_contactRoute = this.contactRoute !== '' ? this.contactRoute : this.ourRouter('contact');
      }
      return this.p_contactRoute;
    }

    @Watch('p$_routesMap')
    pfSetRouteMap( val, old ) {
      let pl_debug = this.doGetDebugger(this.className + '::@Watch()pfSetRouteMap');
      pl_debug(
        {
          data : [val, old, this.p_contactRoute, this.contactRoute]
        }
      );
      if (typeof val === 'object') {
        let cr;
        pl_debug(
          {
            data : [cr, this.p_contactRoute]
          }
        );
        if (val.has('contact')) {
          cr = val.get('contact');
          this.p_contactRoute = cr !== '' ? cr : this.p_contactRoute;
        }
        pl_debug(
          {
            data : [cr, this.p_contactRoute]
          }
        );
      }
    }

    isPhoneValid : boolean = false;

    thisForm = {
      data: {
        name: '',
        email: '',
        phone: '',
        message: ''
      },
      errors: {
        name: [],
        email: [],
        phone: [],
        message: []
      },
      styles: {
        name: ['form-group'],
        email: ['form-group'],
        phone: ['form-group'],
        message: ['form-group']
      },
      response: {
        styles: [],
        content: ''
      }
    };

    validatePhone ({ number, isValid, country }) {
      _.noop(number, country);
      this.isPhoneValid = isValid;
    }

    getValidationData () {
      return this.thisForm.data;
    }

    onSuccessCB (res : AjaxResponse) {
      // this._form.data.name= '';
      // this._form.data.email= '';
      // this._form.data.phone= '';
      // this._form.data.message= '';
      this.resetFormAux('thisForm');
      this.resetDataAux('thisForm', (name) => { _.noop(name); return '';});
      this.setFormSuccessAux('thisForm', res);
    }

    onFailureCB (err: AjaxError) {
      this.resetFormAux('thisForm');
      this.setFormErrorsAux('thisForm', err);
    }

    validationCallback (err?) : boolean {
      if (err) {
        this.setFormValidationErrors('thisForm', err, ['form-group', 'has-error']);
      } else if (this.contactRoute !== '') {
        this.doAjaxPost (
          this.contactRoute, this.thisForm.data, 
          this.onSuccessCB, this.onFailureCB, 
          3000
        );
      }
      return false;
    }

    validateForm< T extends Event> (e : T) : boolean {

      if (this.isPhoneValid) {
        return this.validatorGetter(
          e, 'contactForm', 'thisForm', 
          this.getValidationData,
          this.validationCallback
        );
      }
      return false;

    }
    
  };
</script>