<template>
  <input type="hidden" name="_token" :value="token">
</template>

<script lang="ts">

  import {Vue, Component} from 'vue-property-decorator';
  import Vuex from 'vuex';

  Vue.use(Vuex);

  @Component
  export default class Csrf extends Vue{
    get token () {
      return this.$store.getters['Csrf/csrf'];
    }
  }
</script>

