<template>
  <div :class="['alert', 'alert-' + type]" v-if="!empty(errors)">
    <ul>
      <li v-for="(item, index) in errors" :key="index">
        {{ item }}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
  //import {Vue} from "vue-property-decorator";
  import {PropType} from 'vue/types/options';
  import {Component, Prop, Mixins} from "vue-property-decorator";
  import UtilityMethods from './Utility';

  @Component({})
  export default class ErrorList extends Mixins(UtilityMethods) {

    @Prop({ type: Array as PropType<String[]>, default: () => [] })
    errors : string[];

    @Prop({ type: String, default: 'danger'})
    type : string;
  }
</script>