<template>
  <div :class="styles" v-if="!empty(content)" role="alert">
    <span v-html="content"></span>
  </div>
</template>

<script lang="ts">
  //import {Vue} from "vue-property-decorator";
  import {PropType} from 'vue/types/options';
  import {Component, Prop, Mixins} from "vue-property-decorator";
  import UtilityMethods from './Utility';
  

  @Component({})
  export default class FormResponse extends Mixins(UtilityMethods) {
    @Prop({ type: Array as PropType<String[]>, default: () => [] })
    styles: string[];

    @Prop({ type: String, default: ''})
    content: string = '';
  };
</script>