<template>

  <li :class="['item', ...arrayToLower(sortings)]">

      <a v-if="!useBtnModalTrigger" href="#"  @click.prevent="modalOpen = true">
          <img :src="img.img" class="img-responsive" :alt="img.alt" >
          <div class="menu-desc text-center">
              <span>
                  <h3>{{ title }}</h3>
                  <p v-if="usePTagsInModalTrigger">
                    <span v-html="summary"></span>
                  </p>
                  <span v-if="!usePTagsInModalTrigger" v-html="summary"></span>
              </span>
          </div>
      </a>
      <btn v-if="useBtnModalTrigger" href="#" type="link" @click.prevent="modalOpen = true">
          <img :src="img.img" class="img-responsive" :alt="img.alt" >
          <div class="menu-desc text-center">
              <span>
                  <h3>{{ title }}</h3>
                  <p>
                    <span v-html="summary"></span>
                  </p>
              </span>
          </div>
      </btn>
      <modal v-model="modalOpen" size="sm" :footer="false" @hide="closeModal" :dismiss-btn="true">
        <template v-slot:header>
          <h3 class="pull-left"><a :href="url" target="_blank">{{ title }}</a></h3>
          <a @click.prevent="modalOpen = false">
            <i class="fa fa-close" aria-hidden="true"></i>
          </a>
        </template>
        <template v-slot:default>
          <div class="center-block">
            <img :src="img.img" class="img-responsive" :alt="img.alt" >
            <p v-if="usePTagsInModalBody">
              <span v-html="content"></span>
            </p>
            <span v-if="!usePTagsInModalBody" v-html="content"></span>
          </div>
          <span :class="['label', labelCss]" v-for="(item, index) in sortings" :key="index">
            {{ item }}
          </span>
        </template>
      </modal>
          
      <h2 class="white">
        <btn type="link" :href="url">{{ title }}</btn>
      </h2>
  </li>

</template>

<script lang="ts">
  import Vue from 'vue';
  import {Component, Prop} from 'vue-property-decorator';
  import {ImageObject} from '../lib/types';
  import Vuex from 'vuex';
  import * as Uiv from 'uiv';
  import {Btn, Modal} from 'uiv';
  import _ from 'lodash-es';


  Vue.use(Vuex);
  Vue.use(Uiv, {prefix: 'uiv'});

  /**   TO DO:
   *    1] model (as a Typescript interface) this component's data 
   *      and it's sub-components' data
   *      based  on our ninjamock sketch and plans 
   * 
   *    Plans:
   *      - summery shown on hover,
   *      - click on title link sends to project ,
   *      - click on summery opens model with details.
   * 
   * 
   */

  @Component({
    components: {
      Btn,
      Modal
    }
  })
  export default class GalleryItem extends Vue {

    @Prop({ type: Object, default: {img: '', alt: '', cap: ''} })
    img: ImageObject;

    @Prop({ type: String, default: '' })
    url: string;

    @Prop({ type: String, default: '' })
    title: string;

    @Prop({ type: String, default: '' })
    summary : string;

    @Prop({ type: String, default: '' })
    content : string;

    @Prop({ default: () => [] })
    sortings: string[];

    @Prop({type: String, default: 'label-success'})
    labelCss: string;

    modalOpen : boolean = false;

    useBtnModalTrigger : boolean = false; 

    usePTagsInModalBody : boolean = true;

    usePTagsInModalTrigger : boolean = false;

    closeModal (msg?: string) {
      this.modalOpen = false;
      _.noop(msg);
    }

    arrayToLower(strArr : string[]) :string[] {
      if (!_.isEmpty(strArr)) {
        let res :string[] = [];
        for (let i = 0; i < strArr.length; i++) {
          let s = _.toLower(strArr[i]);
          res.push(s);
        }
        return res;
      }
      return [];
    }
  }
</script>
