<template>
  
  <li id="login">
    <btn @click="openModal">Login</btn>
    <modal v-model="showModal" :footer="false" 
      :append-to-body="true" @hide="beforeClose">
      <template slot="title">
        <h4 class="modal-title">Login</h4>
      </template>
      <template slot="default">
        
          <div class="panel-group" role="tablist">
              <div class="panel panel-default">
                  <collapse v-model="showLogin" role="tabpanel">
                    <div class="panel-body">

                        <form class="form-horizontal" :action="pfLoginRoute" method="POST" role="form" @submit="validateLogin" novalidate="novalidate">
                            <csrf></csrf>
        
                            <div :class="loginForm.styles.email">
                                <label for="loginFormEmail" class="col-md-4 control-label">E-Mail Address</label>
        
                                <div class="col-md-6">
                                    <input v-model="loginForm.data.email" id="loginFormEmail" type="email" 
                                      class="form-control" name="email" value="" required autofocus>
        
                                    <error-list :errors="loginForm.errors.email" :type="'danger'"></error-list>
                                </div>
                            </div>
        
                            <div :class="loginForm.styles.password">
                                <label for="loginFormEmailPassword" class="col-md-4 control-label">Password</label>
        
                                <div class="col-md-6">
                                    <input v-model="loginForm.data.password" id="loginFormEmailPassword" type="password" 
                                    class="form-control" name="password" required>
        
                                    <error-list :errors="loginForm.errors.password" :type="'danger'"></error-list>
                                </div>
                            </div>
        
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <div class="checkbox">
                                        <label>
                                            <input v-model="loginForm.data.remember" type="checkbox" name="remember"> Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>
        
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button id="loginFormEmailSubmit" type="submit" name="submit" class="btn btn-primary">
                                        Login
                                    </button>
        
                                    <btn id="loginFormEmailCollapseToggler" type="link" @click="toggleCollapse">
                                        Forgot Your Password?
                                    </btn>
                                </div>
                            </div>
        
                        </form>

                    </div>
                  </collapse>
              </div>

              <div class="panel panel-default">
          
                  <collapse v-model="showReset" role="tabpanel">
                      <div class="panel-body">
                          
                          <form class="form-horizontal" :action="pfResetRoute" method="POST" role="form" @submit.prevent="validateReset" novalidate="novalidate">
                              <csrf></csrf>
  
                              <div :class="resetForm.styles.email">
                                  <label for="resetFormEmail" class="col-md-4 control-label">E-Mail Address</label>
  
                                  <div class="col-md-6">

                                      <input v-model="resetForm.data.email" id="resetFormEmail" type="email" class="form-control" name="email" value="" required>
        
                                      <error-list :errors="resetForm.errors.email" :type="'danger'"></error-list>
  
                                  </div>
                              </div>

                              
                              <form-response v-bind="resetForm.response"></form-response>
  
                              <div v-if="!empty(resetForm.response.content)" :class="resetForm.response.styles" role="alert">
                                {{ resetForm.response.content }}
                              </div>
  
                              <div class="form-group">
                                  <div class="col-md-6 col-md-offset-4">
                                      <button id="loginModalRequestFormSubmit" type="submit" name="submit" class="btn btn-primary">
                                          Send Password Reset Link
                                      </button>
          
                                      <btn id="loginCollapseToggleRequest" type="link" @click="toggleCollapse">
                                          Want to Try Your Password Again?
                                      </btn>
                                  </div>
                              </div>
                          </form>
                          
                      </div>
                  </collapse>

              </div>
          </div>

      </template>
    </modal>
  </li>
</template>

<script lang="ts">

  import {Vue, Component, Mixins} from 'vue-property-decorator';
  import {Prop, Watch} from 'vue-property-decorator';
  //import {Watch} from 'vue-property-decorator';
  import Vuex from 'vuex';
  import Csrf from './Csrf.vue';
  import ErrorList from './ErrorList.vue';
  import FormResponse from './FormResponse.vue';
  import UtilityMethods from './Utility';
  import {AjaxResponse, AjaxError} from './Utility';
  import * as Uiv from 'uiv';
  import {Btn, Modal, Collapse} from 'uiv';
  import _ from 'lodash-es';

  Vue.use(Vuex);
  Vue.use(Uiv, {prefix: 'uiv'});

  @Component(
    {
      components: {
        Csrf, Btn, Modal, Collapse, ErrorList, FormResponse
      }
    }
  )
  export default class Login extends Mixins(UtilityMethods) {
    showLogin : boolean = true;
    showReset : boolean = false;

    toggleCollapse () {
      if (this.showLogin) {
        this.loginForm.errors.email = [];
        this.loginForm.errors.password = []; 
      }
      this.showLogin = !this.showLogin;
      if (this.showReset) {
        this.resetForm.errors.email = [];
      }
      this.showReset = !this.showReset;
    }

    showModal : boolean = false;

    beforeClose (msg?: string) : boolean {
      this.showModal = false;
      _.noop(msg);
      return true;
    }

    openModal () {
      this.showModal = true;
      this.setRoutes();
      return true;
    }

    // empty (data) {
    //   return _.isEmpty(data);
    // }
    
    beforeMount() {
      this.setRoutes();
    }

    beforeUpdate() {
      this.setRoutes();
    }

    setRoutes () {
      this.ourRoutes = ['login', 'reset'];
      //this.loginRoute = this.$store.getters['Urls/url']('login');

      //this.resetRoute = this.$store.getters['Urls/url']('reset');
    }

    @Watch('p$_routesMap')
    pfSetRouteMap( val, old ) {
      let pl_debug = this.doGetDebugger('Login::@Watch()pfSetRouteMap');
      pl_debug(
        {
          data : [val, old]
        }
      );
      if (typeof val === 'object') {
        let li, lr;
        pl_debug(
          {
            data : [li, lr, this.p_loginRoute, this.p_resetRoute]
          }
        );
        if (val.has('login')) {
          li = val.get('login');
          this.p_loginRoute = li !== '' ? li : this.p_loginRoute;
        }
        if (val.has('reset')) {
          lr = val.get('reset');
          this.p_resetRoute = lr !== '' ? lr : this.p_resetRoute;
        }
        pl_debug(
          {
            data : [li, lr, this.p_loginRoute, this.p_resetRoute]
          }
        );
      }
    }

    @Prop({type: String, default: ''})
    loginRoute : string;

    p_loginRoute: string = '';

    get pfLoginRoute () : string {
      if (this.p_loginRoute === '') {
        this.p_loginRoute = this.loginRoute !== '' ? this.loginRoute : this.ourRouter('login');
      }
      return this.p_loginRoute;
    }

    // @Watch("$store.getters['Urls/url']('login')")
    // getLoginRoute (val: string) {
    //   this._loginRoute = val;
    // }

    // get loginRoute () {
    //   return this._loginRoute; // this.$store.getters['Urls/url']('login');
    // }

    @Prop({type: String, default: ''})
    resetRoute : string;

    p_resetRoute : string = '';

    get pfResetRoute () : string {
      if (this.p_resetRoute === '') {
        this.p_resetRoute = this.resetRoute !== '' ? this.resetRoute : this.ourRouter('reset');
      }
      return this.p_resetRoute;
    }

    // @Watch("this.$store.getters['Urls/url']('reset')")
    // getResetRoute (val: string) {
    //   this._resetRoute = val;
    // }

    // get resetRoute () {
    //   return this._resetRoute;
    // }

    loginForm = {
      data : {
        email: '',
        password: '',
        remember: false
      },
      styles: {
        email: ['form-group'],
        password: ['form-group']
      },
      errors: {
        email: [],
        password: []
      }
    };

    getLoginData () {
      return this.loginForm.data;
    }

    loginCallback (err?) {
      let dbg = this.$store.getters['Debug/debug'];
      let bol = true;
      if (dbg) {
        console.log(err);
      }
      if (err) {
        for (let i in err) {
          if (Object.prototype.hasOwnProperty.call(this.loginForm.styles, i)) {
            if (_.isArray(this.loginForm.styles[i]) && _.size(this.loginForm.styles[i]) === 1) {
              this.loginForm.styles[i].push('has-error');
            } 
          } 
          if (Object.prototype.hasOwnProperty.call(this.loginForm.errors, i)) {
            this.loginForm.errors[i] = err[i];
          } else {
            this.loginForm.errors[i] = '';
          }
        }
        bol = false;
      } 
      if (dbg) {
        console.log(bol);
      }
      return bol;
    }

    

    validateLogin<T extends Event>(e: T) : boolean {
      //let dbg = this.$store.getters['Debug/debug'];
      // let v1 = this.$store.getters['Validation/login'];
      // let v2 = v1( 
      //   this.getLoginData, 
      //   this.loginCallback
      // );
      // for (let i in this.loginForm.styles) {
      //   this.loginForm.styles[i] = ['form-group'];
      // }
      // for (let i in this.loginForm.errors) {
      //   this.loginForm.errors[i] = [];
      // }
      // return v2(e);

      return this.validatorGetter(
        e, 'login', 'loginForm', 
        this.getLoginData, this.loginCallback
      );
    }

    resetForm = {
      data: {
        email: ''
      },
      styles: {
        email: ['form-group']
      },
      errors: {
        email: []
      },
      response: {
        styles: ['alert'],
        content: ''
      }
    };

    resetOnSuccessCB (res : AjaxResponse) {
      // this._form.data.name= '';
      // this._form.data.email= '';
      // this._form.data.phone= '';
      // this._form.data.message= '';
      this.resetFormAux('resetForm');
      this.resetDataAux('resetForm', (name) => { _.noop(name); return '';});
      this.setFormSuccessAux('resetForm', res);
    }

    resetOnFailureCB (err: AjaxError) {
      this.resetFormAux('resetForm');
      this.setFormErrorsAux('resetForm', err);
    }

    resetCallback (err?) : boolean {
      if (err) {
        this.setFormValidationErrors('resetForm', err, ['form-group', 'has-error']);
        // this.resetForm.styles.email = ['form-group', 'has-error'];
        // this.resetForm.errors.email = err.email;
      } else if (this.resetRoute !== '') {
        this.doAjaxPost (
          this.resetRoute, this.resetForm.data, this.resetOnSuccessCB,
          this.resetOnFailureCB, 3000
        );
        // let a = this.$store.getters['axios'];
        // a(
        //   {
        //     method: 'POST',
        //     url: this.resetRoute,
        //     data: this.resetForm.data,
        //     withCredentials: true,
        //     timeout: 3000
        //   }
        // ).then( 
        //   res => {
        //     this.resetForm.response.styles = ['alert', 'alert-info'];
        //     this.resetForm.response.content = res.data.message;
        //   } // or
        //   this.resetOnSuccessCB
        // ).catch(
        //   error => {
        //     this.resetForm.response.styles = ['alert', 'alert-danger'];
        //     if (error.response) {
        //       this.resetForm.response.content = error.response.data.message;
        //     } else if (error.request) {
        //       this.resetForm.response.content = 'Whoops! Our request has timedout!';
        //     } else {
        //       this.resetForm.response.content = 'Arggh! Unable to send request! ' + error.message;
        //     }
        //   }  // or
        //   this.resetOnFailureCB
        // );
      }
      return false;
    }

    validateReset<T extends Event>(e:T) : boolean {
      // let a = this.$store.getters['axios'];
      // let v = this.$store.getters['Validation/passwordReset'] (
      //   () => this.resetForm.data,
      //   (err?) => {
      //     if (err) {
      //       this.resetForm.styles.email = ['form-group', 'has-error'];
      //       this.resetForm.errors.email = err.email;
      //     } else if (this.resetRoute !== '') {
      //       a(
      //         {
      //           method: 'POST',
      //           url: this.resetRoute,
      //           data: this.resetForm.data,
      //           withCredentials: true,
      //           timeout: 3000
      //         }
      //       ).then( 
      //         res => {
      //           this.resetForm.response.styles = ['alert', 'alert-info'];
      //           this.resetForm.response.content = res.data.message;
      //         }
      //       ).catch(
      //         error => {
      //           this.resetForm.response.styles = ['alert', 'alert-danger'];
      //           if (error.response) {
      //             this.resetForm.response.content = error.response.data.message;
      //           } else if (error.request) {
      //             this.resetForm.response.content = 'Whoops! Our request has timedout!';
      //           } else {
      //             this.resetForm.response.content = 'Arggh! Unable to send request! ' + error.message;
      //           }
      //         }
      //       );
      //     }
      //     return false;
      //   }
      // );
      // this.resetForm.styles.email = ['form-group'];
      // this.resetForm.errors.email = [];
      this.resetForm.response.styles = ['alert'];
      this.resetForm.response.content = '';
      //return v(e);
      return this.validatorGetter(
        e, 'passwordReset', 'resetForm', 
        () => this.resetForm.data, this.resetCallback
      );
    }
  }

</script>

