<template>
  <a class="navbar-brand" :href="url">
    <img :src="img" :alt="alt" class="logo img-responsive">
  </a>
</template>

<script lang="ts">
  import Vue from 'vue'
  import {Component} from 'vue-property-decorator'
  import Vuex from 'vuex'

  Vue.use(Vuex)

  @Component({})
  export default class BootLogos extends Vue {
    // @Prop( String )
    // url: string = '';

    get url () {
      return this.$store.getters['Urls/baseUrl'];
    }
    
    get useStick () {
      return this.$store.getters['Logos/useStick'];
    }

    get img () {
        return this.useStick ? this.stick.img : this.main.img;
    }

    get alt () {
        return this.useStick ? this.stick.alt : this.main.alt;
    }

    get stick () {
      return this.$store.getters['Logos/stick'];
    }

    get main () {
      return this.$store.getters['Logos/main'];
    }
  }
</script>

<style>

</style>
