<template>
  <div>
    
  </div>
</template>

<style lang="sass" scoped>

</style>


<script lang="ts">
    import Vue from 'vue'
    import Component from 'vue-class-component'
    import { Model, Prop, Watch, Emit} from 'vue-property-decorator'
    import { Modal } from 'uiv'
    import VueTransmit from 'vue-transmit'

    @Component({
        name: "testTransmitter"
    })
    export default class Transmit extends Vue{
    
    }
</script>
